version: '3.5'
services:
  api-gateway:
    image: jinhong0719/dms-sms-api-gateway:${VERSION}.RELEASE
    container_name: api-gateway
    networks:
      - dms-sms-local
    ports:
    - target: 80
      published: 80
      protocol: tcp
      mode: host
    environment:
      - CONSUL_ADDRESS=${CONSUL_ADDRESS}
      - JAEGER_ADDRESS=${JAEGER_ADDRESS}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - NAVER_CLIENT_ID=${NAVER_CLIENT_ID}
      - NAVER_CLIENT_SECRET=${NAVER_CLIENT_SECRET}
      - SECURITY_BASE_PLAIN=${SECURITY_BASE_PLAIN}
      - SECURITY_PASS_PHRASE=${SECURITY_PASS_PHRASE}
      - SMS_AWS_ID=${SMS_AWS_ID}          # add in v.1.0.2
      - SMS_AWS_KEY=${SMS_AWS_KEY}        # add in v.1.0.2
      - SMS_AWS_REGION=${SMS_AWS_REGION}  # add in v.1.0.2
      - SMS_AWS_BUCKET=${SMS_AWS_BUCKET}
      - CONSUL_INDEX_HEADER=${CONSUL_INDEX_HEADER}
      - SNS_TOPIC_ARN=${SNS_TOPIC_ARN}    # add in v.1.0.2
      - CHANGE_CONSUL_SQS_GATEWAY=${CHANGE_CONSUL_SQS_GATEWAY} # add in v.1.0.2
      - DELETE_REDIS_TOPIC=${DELETE_REDIS_TOPIC} # add in v.1.0.3
    volumes:
      - log-data:/usr/share/filebeat/log/dms-sms
        - ./entity:/usr/share/gateway/entity
        - ./handler:/usr/share/gateway/handler
    deploy:
      mode: replicated
      replicas: 1
      labels: [APP=api-gateway]

networks:
  dms-sms-local:
    name: dms-sms-local
    driver: overlay

volumes:
  log-data:
    name: log-data
    driver: local
