version: '3.5'
services:
  api-gateway:
    image: jinhong0719/dms-sms-api-gateway:${VERSION}.RELEASE
    container_name: api-gateway
    networks:
      - dms-sms-local
    ports:
      - 80:80
    environment:
      - CONSUL_ADDRESS=${CONSUL_ADDRESS}
      - JAEGER_ADDRESS=${JAEGER_ADDRESS}
      - JWT_SECRET_KEY=${JWT_SECRET_KEY}
      - NAVER_CLIENT_ID=${NAVER_CLIENT_ID}
      - NAVER_CLIENT_SECRET=${NAVER_CLIENT_SECRET}
      - SECURITY_BASE_PLAIN=${SECURITY_BASE_PLAIN}
      - SECURITY_PASS_PHRASE=${SECURITY_PASS_PHRASE}
      - SMS_AWS_BUCKET=${SMS_AWS_BUCKET}
    volumes:
      - log-data:/usr/share/filebeat/log/dms-sms
    deploy:
      mode: replicated
      replicas: 1
      labels: [APP=api-gateway]

networks:
  dms-sms-local:
    name: dms-sms-local
    driver: overlay

volumes:
  log-data:
    name: log-data
    driver: local
